:root {
  /* colors */
  --primary-500: #06b6d4;
  --primary-700: #0e7490;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-400: #94a3b8;
  --grey-600: #475569;
  --grey-800: #1e293b;
  --white: #fff;
  --red-dark: #842029;
  --red-light: #f8d7da;
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --borderRadius: 0.25rem;
  --transition: 0.3s ease-in-out all;
}

body {
  background: var(--grey-100);
  color: var(--grey-800);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

section {
  width: 90vw;
  max-width: 500px;
  background: var(--white);
  padding: 2rem;
  margin: 2rem 0;
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  transition: var(--transition);
}

section:hover {
  box-shadow: var(--shadow-2);
}

h4 {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 100px;
}

.form-input {
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--grey-100);
  border: 1px solid var(--grey-200);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.btn {
  cursor: pointer;
  color: var(--white);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: 1px;
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-1);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--primary-700);
  box-shadow: var(--shadow-2);
}

.items {
  margin-top: 2rem;
}

.single-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 1rem;
  align-items: center;
  margin-top: 1rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--grey-200);
}

.single-item:last-child {
  border-bottom: none;
}

.single-item p {
  text-transform: capitalize;
  letter-spacing: 1px;
  margin: 0;
}

.remove-btn {
  background: var(--grey-800);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.remove-btn:hover {
  background: #000;
}

.edit-btn {
  background: var(--primary-500);
  font-size: 0.75rem;
  padding: 0.25rem 0.5rem;
}

.edit-btn:hover {
  background: var(--primary-700);
}
